


body{
  background:rgb(199, 198, 197);
  background-image:url('./Assets/landscape2.jpeg');
  background-size:cover;

  // filter: brightness(1.5) hue-rotate(230deg);
  // background-blend-mode: saturation; 
margin:0 auto;
text-align:center;
padding:0;
  color: #72818e;
  font-family: 'Roboto', 'Open-sans';
}

h1,h2,h3,h4,h5 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
  list-style : none;
  list-style-image : none;
}

a {
  transition:3ms all;
  font-weight: bold;
  color: #849bb3;
  text-decoration : none;
  &:hover{
    color:hsl(14, 78%, 30%);
  }
  &.router-link-exact-active {
    color:hsl(14, 78%, 35%);
  }
}

